In [ ]:
## Line continuation
##use of blacklash(\) to continue of statement

total= 1+2+3+4+5+6+7+\
4+5+6

print(total)
print(type(total))

43
<class 'int'>

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [11]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [12]:
## string
str="Kanchan pandey"

for i in str:
    print(i)

K
a
n
c
h
a
n

p
a
n
d
e
y

In [13]:
## while loop 

## the while loop in contnues to execute a block of code as long as a specified condition is true.

count=0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [15]:
## loop control statements

## break statement
## the break statement is used to terminate the loop prematurely when a certain condition is met.
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [16]:
## continue statement
## the continue statement is used to skip the current iteration of the loop and move to the next iteration when a certain condition is met.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
     ## pass
## the pass statement is a placeholder that does nothing. It is used when a statement is syntactically required but no action is needed.
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [20]:
## nested loops
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [21]:
## exmplaes - calculate the sum of first n natural numbers using a while loop and for loop
n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print(f"Sum of first {n} natural numbers using while loop is:{sum}")

Sum of first 10 natural numbers using while loop is:55

In [2]:
## exampple for loop
n=10
sum=0
for i in range(11):
   
    sum=sum+i


print(sum)

55

In [3]:
## example- Prime number between 1 to 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
## Understand  semantics in python
# varible assigment 
age=30

print(age)

30

In [ ]:
### Muliple statements on a single line
x=5;y=10;z=x+y
print(type(z))
print(z)

<class 'int'>
15

In [ ]:
### understanding semnatics in python
#variable assignment
age=32 ##age  is an integer
name="krish" ##name is string 
print(type(age))
print(age)
print(type(name))
print(name)

<class 'int'>
32
<class 'str'>
krish

In [ ]:
name="Abhinav" ;
Name="abinav"

print(name)
print(Name)

Abhinav
abinav

In [ ]:
a=100

In [ ]:
##Declartation And assinging varibales
age= 32
height=6.1
name="abhinav"
is_student=True

##printing the  variables
print("age:",age)
print("height:",height)
print("name:",name)

age: 32
height: 6.1
name: abhinav

In [ ]:
## Naming conventations
## Variables names should be descriptive 
## They must start with a letter or an '_'and contain letter ,numbers and underscore
## Variables name are  case sentive



## valid variables names
first_name="abinav"
last_name="singh"

In [ ]:
## Understanding Variables types
## Python is dynamicallly typed of a variables is determined at runtime
age=25 ##int
height=6.1 ## float
name="abinav" ## str
print(type(name))

<class 'str'>

In [ ]:
## type checking and conversion 
type(height)
type(name)
type(age)

int

In [ ]:
##input
age=input("What is the age")
print(age)

83

In [ ]:
##Intger example
age=44
type(age)

int

In [ ]:
##Arithemetic operatrors
a=10
b=10
add_result=a+b
sub_result=a-b
print(add_result)
print(sub_result)

20
0

In [ ]:
## floor division (//)

In [ ]:
##Comparison operators
## == Equal to opearators
a=10
b=10

a==b

True

In [ ]:
## 1: write a program to print hello world
print("hello world ")


## 2: write a program that take user input and print it
name=input("Enter the name:")
print("Name is:",name)


## 3: write a program to check if a number is positive or negative
num=int(input("Enter a number:"))
if num>=0:
    print("Positive number:")
else:
    print("Negative number:")  

## 4:write a program to find the largest of three numbers

a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))
if a>b and a>c:
    print("Largest number is:",a)
elif b>a and b>c:
    print("largest number is:",b)
else:
    print("largest number is:",c)

hello world
Name is: abhinav
Positive number:
Largest number is: 14

In [ ]:
## 5: write a program to calculate the factorial of a number
num=int(input("Enter a number to find factorial:"))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i   
print("Factorial of",num,"is",factorial)

Factorial of 5 is 120

In [ ]:
## 6: write a program to concatenate two strings..
first_str="abhinav"
second_str="singh"
third_str=first_str+second_str
print(third_str)

abhinavsingh

In [ ]:
## 7: write a python program to perform arithemthic operations: addtion,subtraction,multiplication,and division.
a=10
b=20
sum=a+b
subtraction=a-b
multiplication=a*b
division=a/b

print(type(a))
print(sum)
print(multiplication)
print(subtraction)
print(division)

<class 'int'>
30
200
-10
0.5

In [ ]:
## 8: write a python program to swap the values of two varibales
num1=10
num2=20
print("Before swapping: num1={num1}, num2{num2}")

num1,num2=num2,num1
print("After the swapping: num1{num1},num2{num2}")

Before swapping: num1={num1}, num2{num2}
After the swapping: num1{num1},num2{num2}

In [ ]:
## You can place or more if, elif,or else statements inside another if, elif, or else statement to
## number even, odd, negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is zero and negative")

The number is positive
The number is odd

In [ ]:
## practical example
## Determine if year is leap year using nested condition statement

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2025 is not a leap year

In [ ]:
## simple calucaltor 

num1=float(input("Enter the first number"))
num2=float(input("Enter the sencond number"))
operation=input("Enter the operation (+,-,*,/): ")


## Perform the request operation
if operation =='+':
    result=num1+num2
elif operation =='-':
    result=num1-num2
elif operation =='*':
    result=num1*num2
elif operation =='/':
    if num2 !=0:
        result=num1/num2
    else:
        result="Error! Division by zero.."
else:
    result="Invalid operation"

print("Result",result)

Result Invalid operation

In [ ]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
range(5)

range(0, 5)

In [ ]:
## Dertmine the ticket price based on age and whether the person is a student
## Ticket pricing based on age and student status

age= int(input("Enter the age: "))
is_student= input("Are you a student? (yes/no): ").lower()
 
 ## Determine ticket price
if age <5:
    price= "Free"
elif age <=12:
    price="$10"
elif age<=17:
    if is_student == "yes":
        price="$12"
    else:
        price = "$15"
elif age<=64:
    if is_student =='yes':
        price="$18"
    else:
        price="$25"
else:
    price="$20"
print("Ticket Price:",price)

In [ ]:
## Indentation
## Python use indentation of define of blocks of code. Consistence use of space (commonly 4) or tab in required

age=89
if age>80:
    
    print(age)

89

In [12]:
## Assigments 1
number=float(input("Enter the number"))
if number>0:
    print("The number is Positive")

    ## Assigments 2
    num=float(input("Enter the number"))
    if num>0:
        print("The number is Positive")
    else:
        print("The number is Negative")

The number is Positive
The number is Negative

In [15]:
## Assigmnets 3
number=float(input("Enter the number"))
if number>0:
    print("The number is positive")
elif number<0:
    print("The number is negative")
else:
    print("The number is zero")

The number is positive

In [18]:
## Assigment 4

num=float(input("Enter the number"))
if num>0:
    if num%2==0:
        print("The number is positive even number")
    else:
        print("The number is postive odd number")
else:
    print("The number is  negative")

The number is  negative

In [19]:
## Asigment 5
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
## Assigment 6
i=1
while i<=10:
    print(i)
    i =i+1

1
2
3
4
5
6
7
8
9
10

In [26]:
## Assigment 7
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [1]:
## Assigment 8
total=0
while True:
    num=input("Enter a number (0 to stop): ")
    if num == '0':
        break
    total += float(num)
print(f"The sum of all number is {total}")

The sum of all number is 5656.0

In [33]:
list=[]
print(type(list))

<class 'list'>

In [36]:
name=["abhinav","kanchan","sonali",1,2,3]

print(name)

['abhinav', 'kanchan', 'sonali', 1, 2, 3]

In [37]:
mixed_list=[1,"abhinav",5.5]
print(mixed_list)

[1, 'abhinav', 5.5]

In [3]:
## Accessing list elements by index
color=["red","blue","green"]

In [7]:
print(color[0])
print(color[1])
print(color[2])
print(color[-1])

red
blue
green
green

In [45]:
print(color[1:])
print(color[1:3])

['blue', 'green']
['blue', 'green']

In [8]:
##mixed the list elements
color

['red', 'blue', 'green']

In [12]:
color[1]="Yellow"
print(color)

['red', 'Yellow', 'green']

In [15]:
color[1:]="red"

In [16]:
color

['red', 'r', 'e', 'd']

In [18]:
colors=["red","blue","green"]

In [19]:
colors.append("yellow")  ##Add an item to the end of the list
print(colors)

['red', 'blue', 'green', 'yellow']

In [21]:
colors.insert(1,"purple")
print(colors)

['red', 'purple', 'blue', 'green', 'yellow']

In [22]:
colors.insert(1,"purple")  ##Insert an item at a specific position
print(colors)

['red', 'purple', 'purple', 'blue', 'green', 'yellow']

In [ ]:
colors.remove("purple") ## Revomeing the first occurrence of an item
print(colors)

['red', 'purple', 'blue', 'green', 'yellow']

In [25]:
## Remove and the last item
popped_color = colors.pop()
print("Popped color:",popped_color)
print(colors)

Popped color: green
['red', 'purple', 'blue']

In [26]:
index=colors.index("blue")
print("Index of blue:",index)

Index of blue: 2

In [28]:
colors.insert(1,"purple")
  ##Insert an item at a specific position
print(colors.count("purple"))

3

In [29]:
colors

['red', 'purple', 'purple', 'purple', 'blue']

In [15]:
colors.sort()

NameError: name 'colors' is not defined

In [32]:
colors

['blue', 'purple', 'purple', 'purple', 'red']

In [14]:
colors.reverse()

NameError: name 'colors' is not defined

In [34]:
colors

['red', 'purple', 'purple', 'purple', 'blue']

In [37]:
color.clear()  ##Remove all items from the list
print(color)

[]

In [13]:
## Slicing List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:4])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
numbers[::-3]

[10, 7, 4, 1]

In [42]:
## Iterating over a list
for color in colors:
    print(color)

red
purple
purple
purple
blue

In [43]:
for index,color in enumerate(colors):
    print(f"Index:{index}, Color:{color}")

Index:0, Color:red
Index:1, Color:purple
Index:2, Color:purple
Index:3, Color:purple
Index:4, Color:blue

In [44]:
## List comprehension
list=[]
for x in range(10):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
 [x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List comprehension

Basics syntax            [expression for item in iterable]

with conditional logic   [expression for item in iterable if condition]

Nested list comprehension [expression for item1 in iterable for item2 in iterablae2 ]

In [2]:
### Basic List comprehension

square= [num**2 for num in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
### List comprehension with condition

list=[]
for i in range(10):
    if i%2==0:
        list.append(i)
        print(list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [4]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [5]:
## Nested list comprehension

lst1=[1,2,3]
lst2=['a','b','c']

pair=[[i,j] for i in lst1 for j in lst2 ]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c']]

In [6]:
### List comprehension with function calls

words=["hello","world","python","list","comprehension"]
lengths=[len(word) for word in words]   
print(lengths)

[5, 5, 6, 4, 13]

In [1]:
## list comprehension
lst = list(range(1, 21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
## creating a tuble 

empty_tuble=()
print(type(empty_tuble))
print(empty_tuble)

<class 'tuple'>
()

In [4]:
lst= list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [21]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [22]:
mixed_tuple=(1,"abhinav",5.5,True)
print(mixed_tuple)

(1, 'abhinav', 5.5, True)

In [23]:
## Accessing tuple elements by index


numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
##numbers[2]
print(numbers[0])
print(numbers[-1])

1
5

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [17]:
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
## Tuple Operations

numbers

NameError: name 'numbers' is not defined

In [1]:
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

NameError: name 'numbers' is not defined

In [2]:
mixed_tuple *3

NameError: name 'mixed_tuple' is not defined

In [3]:
numbers *3

NameError: name 'numbers' is not defined

In [7]:
## Immutable Nature of tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

list=[1,2,3,4,5]
print(list)



list[0]="Abhinav"
print(list)

[1, 2, 3, 4, 5]
['Abhinav', 2, 3, 4, 5]

In [8]:
numbers[1]="abhinav"

NameError: name 'number' is not defined

In [11]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

NameError: name 'numbers' is not defined

In [ ]:
## Packing and Unpacking Tuple
## Packing
packed_tuple = 1,"abhinav",5.6
print(packed_tuple)

(1, 'abhinav', 5.6)

In [13]:
## Unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
abhinav
5.6

In [ ]:
## Unpacking with Asterisk(*)

numbers=(1,2,3,4,5)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [23]:
## Nested Tuples
## Nested List

lst=[[1,2,3,4],[6,7,8,9],[1,"abhinav",8.6,"k"]]
lst[0][0:3]

[1, 2, 3]

In [25]:
lst=[[1,2,3,4],[6,7,8,9],(1,"abhinav",8.6,"k")]
lst[2][0:3]

(1, 'abhinav', 8.6)

In [26]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

## access the elements inside a tuple

print(nested_tuple[0])  # Access the first nested tuple
print(nested_tuple[1][2])  # Access the second element of the second nested tuple

(1, 2, 3)
c

In [27]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

## Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structure, function arguments and return values, and as dictionary keys.Understand how to leverage tuples effectively can improve the efficency and readability of your Python code..

## Sets

Sets are built-in data type in python used to store collections of unique items.They are unordered,meaning that the elements do no follow a specific order, and they do not allow duplicate elements.Sets are useful for membership tests,eliminating duplicate entries, and performing mathematical set operations like union, intersection,difference,and symmetric differnce..

In [1]:
## create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_set=set()
print(type(my_set))

<class 'set'>

In [6]:
my_empty_set=set([1,2,3])
print(my_empty_set)

{1, 2, 3}

In [21]:
## Basics sets operations
## Adding and removing elements
my_set.add(6)
print(my_set)

{6, 7}

In [23]:
## Remove the element from a set
my_set.remove(6)
print(my_set)

{7}

In [ ]:
## no error of discard
my_set.discard(10)
print(my_set)

{7}

In [25]:
## pop method
removed_element=my_set.pop()
print("Removed element:",removed_element)
print(my_set)

Removed element: 7
set()

In [27]:
my_set.clear()
print(my_set)

set()

In [ ]:
## set membership test

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [31]:
## Maathematical operations
set1={1,2,3,4,5}
set2={4,5,6,7,8}    

## Union
union_set=set1.union(set2)
print("Union:",union_set)


## Intersection
intersection_set=set1.intersection(set2)
print("Intersection:",intersection_set)


set1.intersection_update(set2)
print("set1 after intersection_update:",set1)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
set1 after intersection_update: {4, 5}

In [33]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [34]:
set1

{1, 2, 3, 4, 5, 6}

In [35]:
set2.difference(set1)

{7, 8, 9}

In [36]:
## Symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [3]:
 ## sets methods
set1={1,2,3,4,5}
set2={3,4,5}


## is subset
print(set1.issubset(set2))
## is superset
print(set1.issuperset(set2))

False
True

In [6]:
lst=[1,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [7]:
## Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convet list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'are', 'sets', 'In', 'about', 'tutorial', 'we', 'this'}
8

In [11]:
## sets Assigment
## creating a set and accessing sets
## question1
s=set(range(1,11))

print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
## Question 2 add(11)and remove(1)

s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [17]:
## Question 3 define two sets and perform union, intersection,and difference operations
set1=set(range(1,6))
set2=set(range(2,11,2))
print(f"Union:{set1.union(set2)}")
print(f"Intersection:{set1.intersection(set2)}")
print(f"Difference:{set1.difference(set2)}")

Union:{1, 2, 3, 4, 5, 6, 8, 10}
Intersection:{2, 4}
Difference:{1, 3, 5}

In [22]:
## Question 4


square={x**2 for x in range(1, 11)}
print(square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [21]:
## Question 5

evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [ ]:
## Question 6

s={1,2,2,3,4,5,6}
unique_sets=set(s)
print(unique_sets)

{1, 2, 3, 4, 5, 6}

In [ ]:
## Question 7

set1=set(range(1,6))
set2=set(range(1,4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

In [29]:
## Question 8

fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [ ]:
## Question 9

s=set(range(1,6))
lst= list(s)
lst.append(6)
s=set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [31]:
## Question 10
d={
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [32]:
## Question 11
s=set(range(1,6))
for elem in s:
    print(elem)

1
2
3
4
5

In [ ]:
## Question 12 full sets clear
s=set(range(1,5))
while s:
    s.pop()
    print(s)

{2, 3, 4}
{3, 4}
{4}
set()

In [40]:
## Question 13 symmetric difference and update
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

In [ ]:
## Question 14 membership test
s=set(range(1,6))
print(3 in s)
print(10 in s)

True
False

In [3]:
## Question 15 sets containg tuples
sets={(1,2),(3,4),(5,6)}
print(sets)

{(1, 2), (3, 4), (5, 6)}